body,
html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

.positive-change {
	color: green;
	font-weight: 700;
}

.negative-change {
	color: red;
	font-weight: 700;
}

.no-list-style {
	list-style: none;
	margin: 0;
	padding: 0;
}

.stock-card {
	padding: 0.5rem 1rem;
	border: 1px black solid;
	border-radius: 5px;
	margin: 0.5rem;
	box-shadow: 0.2rem 0.2rem darkslategray;
}
